PORT=3000
PUBLIC_URL=http://localhost:3000

# PERSISTENT DATA (Render persistent disk)
# Example Render mount path: /var/data
DATA_DIR=./database

# CUSTOMER EMAIL DELIVERY
# Put your REAL Resend API key here.
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
MAIL_FROM="コイン <orders@your-verified-domain.com>"

# ADMIN LOGIN
ADMIN_USERNAME=Jay
ADMIN_PASSWORD=change-this-password
ADMIN_SESSION_SECRET=-rCB-A64RKaLW1LN7fNIxvttRj7QLOZ2ggkprI0heStJmR6RI1S3w8mvNshzWbI8
NODE_ENV=development

# Payment details
MPESA_NAME=
MPESA_NUMBER=
ABSA_ACCOUNT_NAME=
ABSA_ACCOUNT=
ABSA_BRANCH=
PAYPAL_EMAIL=
MULTICAIXA_ENTITY=
MULTICAIXA_REFERENCE=
STANDARD_BANK_ACCOUNT_NAME=
STANDARD_BANK_ACCOUNT=
STANDARD_BANK_BRANCH=
CARD_PAYMENT_URL=
